apiVersion: civo.upbound.io/v1alpha1
kind: CivoKubernetesCluster
metadata:
  name: jet-cluster
spec:
  forProvider:
    name: jet-cluster
    firewallIdRef:
      name: k8s-firewall
    networkIdRef:
      name: tf-net
    pools:
      - label: "node-pool"
        nodeCount: 2
        size: g3.k3s.small
    applications: "kubernetes-dashboard"
    kubernetesVersion: "1.23.6-k3s1"
  providerConfigRef:
    name: civo-provider